.contact-card {
  display: none;
  position: relative;
  margin: 20px 0px 10px 5px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 2px 2px 5px 0px #d6cfd6;
  max-width: 250px;
  min-width: 250px;
}

.contact-card:hover {
  background: #f1f1d1;
}

.contact-card .title-card {
  /*>:first-child{*/
  background: #000;
  height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 0px;
}

.contact-card .title-card > div > h1 {
  color: #fff;
  padding: 2px 10px 0px 10px;
  font-size: .9em;
  width: 90%;
}

.contact-card .body-card {
  padding-top: 10px;
}

.contact-card .body-card .menu-card {
  font-size: .6em;
  font-family: 'Courier New', Courier, monospace;
}

.contact-card .body-card .data-card {
  font-family: 'Courier New', Courier, monospace;
  font-size: .6em;
  background: #eee;
  padding-top: 10px;
  margin-top: 10px;
}

.contact-card .body-card .data-card div {
  font-weight: 900;
}

.contact-card .body-card .data-card div span {
  font-weight: 300;
}

.contact-card .avatar {
  max-height: 50px;
}

.contact-card .avatar ~ div {
  /*el primer hijo div - globo para la edad*/
  position: absolute;
  top: 30px;
  left: 50px;
  background: green;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: .6em;
  text-align: center;
  border: 2px solid #fff;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: table;
  font-size: .8em;
  color: #000;
}

.modal .modal-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.modal .modal-body {
  display: inline-block;
  /*margin:0px auto;*/
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  width: 90%;
  max-width: 300px;
  text-align: right;
  border-radius: 5px;
}

.modal .modal-body span {
  width: 100px;
}

.modal .modal-body input, .modal .modal-body select {
  border: 0px;
  border-bottom: 1px solid #ccc;
  background: transparent;
  max-width: 200px;
  color: #888;
}

.modal .modal-body input[type='number'] {
  text-align: right;
  max-width: 65px;
}

.modal .modal-title {
  background: #ccc;
}

.modal-hidden {
  display: none;
}

.modal-blur {
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

@font-face {
  font-family: "goldman-regular";
  src: url("../fonts/Goldman-Regular.ttf");
}

body {
  background-color: #fff;
  font-family: "goldman-regular";
  color: #aaa;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
}

header form {
  width: 100%;
  text-align: right;
}

header a, header a:hover {
  color: #F3D94E;
  margin-left: 10px;
}

main {
  position: relative;
  margin-top: 120px;
}

aside {
  position: fixed;
  top: 100px;
  left: 0px;
}

aside ul > li {
  position: relative;
  margin: 1px 0px 0px -40px;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: #000;
  width: 20px;
}

aside ul > li:hover {
  background: #F3D94E;
  color: #000;
  width: 25px;
  cursor: pointer;
}

.btn-primary {
  background-color: #F3D94E;
  color: #000;
  border-color: #000;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #e0c84e;
  color: #000;
}

.navbar-dark {
  background-color: #000;
  border-bottom: 5px solid #F3D94E;
}
